html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 16px;
}
.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #547794;
  width: 100%;
  height: 70px;
  z-index: 1;
}
.nav {
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 15%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.logo {
  flex: 1 1 auto;
  margin-left: 10%;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 400;
}

img {
  width: 20%;
}
a {
  margin: 15px;
  color: #f6f3ee;
  text-decoration: none;
}
a:hover {
  color: gold;
}
.banner-area {
  padding-top: 80px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto;
  color: #547794;
  background-color: #e0e0e0;
}
.banner-area h1 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 0;
}

.banner-area h2 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 0;
}

.about-area,
.port-area,
.service-area,
.contact-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.home-part {
  text-align: center;
}
.text-part {
  width: 65%;
  height: auto;
}

.text-part a {
  color: black;
  text-align: start;
}

.original_link {
  font-style: italic;
  line-height: 0;
  text-align: left;
}
.caption {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  text-align: start;
  color: black;
  line-height: 0;
}

.photoinfo {
  padding-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  text-align: start;
  color: black;
}
.links {
  color: lightcoral;
  font-weight: 600;
}

.directions {
  font-size: 14px;
}

.original_link {
  text-decoration: underline;
  text-align: start;
}
.about-area {
  background-color: #f6f3ee;
}
.port-area {
  background-color: #f6f3ee;
  color: black;
}
.service-area {
  background-color: #f6f3ee;
  color: black;
  padding-left: 135px;
}
.contact-area {
  background-color: #f6f3ee;
  color: black;
  padding-left: 135px;
}

.tablet {
  width: auto;
  justify-content: space-between;
  display: flex;
  align-items: top;
}
